body {
    background-color: #ececec;
}

.header {
    display: flex;
    background-color: lightblue;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.image {
    height: 100px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.a-first {
    margin-right: 40px;
}

a:hover {
    text-decoration: none;
    color: white;
}

.photo {
    float: left;
    height: 500px;
    background-color: #4885de;
    width: 30%;
    background-image: url("../image/photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

.information {
    float: left;
    height: 500px;
    background-color: lightblue;
    width: 70%;
}

.fio {
    float: left;
    height: 100px;
    background-color: #ececec;
    width: 100%;
    text-align: center;
    color: #4a5161;
}

.about {
    float: left;
    height: 400px;
    background-color: #5ba2bf;
    width: 60%;
    line-height:30px;
    color: white;
}

.text-about, .text-contact {
    margin: 20px;
}

.contact {
    float: left;
    height: 400px;
    width: 40%;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.flex-container {
    margin-top: 100px;
}

.grid {
    padding: 100px 0 100px 0;
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 50px;
}

.grid-content {
    margin: auto;
}