.header {
    background-color: lightblue;
    margin-bottom: 50px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.image {
    height: 100px;
}

ul {
    display: flex;
}

li {
    list-style-type: none;
}

.a-first {
    margin-right: 40px;
}

a:hover {
    text-decoration: none;
    color: white;
}

@media (max-width:1200px) {
    .container {
        Max-width: 970px;
    }
    .image {
        height: 90px;
    }
}

@media (max-width:992px) {
    .container {
        Max-width: 750px;
    }
    .image {
        height: 80px;
    }
}

@media (max-width:767px) {
    .container {
        Max-width: none;
    }
    .image {
        height: 70px;
    }
}